.bg-custom {
  background-color: rgba(13, 3, 99, 0.24);
}
.hero-section {
  background-color: rgb(86, 192, 157);
     /* color: white; */
  padding: 10px 0;
}
.large-profile 
/* .skill-bar {
  height: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
  margin-bottom: 15px;
}
.skill-progress {
  height: 100%;
  border-radius: 5px;
  background-color: #0d6efd;
}
.project-card {
  transition: transform 0.3s;
}
.project-card:hover {
  transform: translateY(-5px);
} */
