.bg-custom {
  background-color: rgba(3, 0, 31, 0.24);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: ;

.hero-section {
  background-color: rgba(13, 3, 99, 0.24);
  color:  rgb(218, 86, 10);
     /* color: white; */
  padding: 10px 0;
}
.large-profile {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
/* .skill-bar {
  height: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
  margin-bottom: 15px;
}
.skill-progress {
  height: 100%;
  border-radius: 5px;
  background-color: #0d6efd;
}
.project-card {
  transition: transform 0.3s;
}
.project-card:hover {
  transform: translateY(-5px);
} */
